    <ion-view>
      <ion-header-bar class="bar-royal">
        <h1 class="title">WTFSWE?!?!</h1>
      </ion-header-bar>
  <ion-content class="has-header padding content-color">



    <div class="list card">

      <div class="item item-avatar">
        <img  ng-src='{{currentChoice.image}}' ng-hide='!currentChoice.image'>

        <h2>{{currentChoice.name}}</h2>


        <p><a href="{{displayUrl}}" target="_blank">{{displayUrl}}</a></p>
      </div>


      <a ng-href="tel:{{currentChoice.phone_number}}" class="item item-icon-left">
        <i class="icon ion-iphone"></i>
        {{currentChoice.phone_number}}
      </a>
        <a ng-href="{{googleMapsLink}}" target="_blank" class="item item-icon-left">
          <i class="icon ion-home"></i>
          {{currentChoice.address.street}}, {{currentChoice.address.city}}, {{currentChoice.address.state}}
        </a>
        <p ng-show="hours">Business Hours: {{hours}}</p>


    </div>

    <div id="map" data-tap-disabled="true"></div>

  </ion-content>
      <ion-footer-bar class="bar-royal tabs">    <a class="tab-item" ng-click='back()'>
        Back
      </a></ion-footer-bar>
</ion-view>
