<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Set your location</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">City,State</span>
                <input type="text" placeholder="Chicago,IL">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Zip Code</span>
                <input type="text" placeholder="55555">
            </label>
        </div>
    </ion-content>
</ion-modal-view>