<ion-popover-view>
    <ion-header-bar>
        <h2 class="center">Options</h2>
    </ion-header-bar>
    <ion-content>
        <div class="list">

            <label class="item item-input item-select">

            <div class="input-label">
                How far?
            </div>
            <select ng-options="distance.label for distance in distances"
                    ng-model="selected" ng-change="distanceChanged(selected)" ng-init="selected = distances[selected.id]"></select>
        </label>

        </div>


        <label class="item">Feelin' like...</label>
        <ul class="list">
            <li class="item item-checkbox" ng-repeat="option in foodOptions">
                {{option}}
                <label class="checkbox checkbox-royal">
                    <input
                            type="checkbox"
                            name="selectedFoods[]"
                            value="{{option}}"
                            ng-checked="selectedFoods.indexOf(option) !== -1"
                            ng-click="toggleSelection(option)"
                            >

                </label>
            </li>
        </ul>
    </ion-content>
</ion-popover-view>