/* Empty. Add your own CSS if you like */
.main-content h1,
.main-content h2,
.main-content h3,
.main-content a{
	color: #D2C6FB;
	text-align: center;
}

.content-color {
	background: #522CCA;
}

#map {
	width: 100%;
	height: 25%;
}

.scroll {
	height: 100%;
}