/* Empty. Add your own CSS if you like */
h1, h2, h3 {
	color:#FFFFFF;
	text-align: center;
}

.content-color {
	background: #262239;
}

#map {
	width: 100%;
	height: 25%;
}

.scroll {
	height: 100%;
}